nav{
   
   
    display: flex;
    justify-content: space-between;
}
nav{
    margin-left: 50px;
    
}
.navigation{
    color: black;
    font-weight: 700;
    
    padding: 20px;
    
   

    

}
.l-buttons{
    text-decoration: none;
    color: burlywood;
    margin-left: 10px;
}
.icons{
    color: burlywood;
    margin-left: 5px;
}
.rate{
    color: rgba(219, 189, 19, 0.863);
}
   
.head-container{
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

#head-image{
    width: 40%;
    
}
#head-image:hover{
    transform: scale(1.5);
    transition: transform 2s ease-in-out;
}
.heading-para{
    
    margin-left: 100px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 1.2em;
   
}
.button{
    background-color: coral;
    padding: 10px 40px;

    
    border-radius: 5px;
    font-weight: 600;
    margin-top: 16px;
   
}
.button:hover{
    background-color: cornsilk;
    transition-duration: 0.5s;
}
.outer-links{
    text-align: center;
   margin-top: 150px;
   margin-bottom: 100px;border: 1px solid lightgrey;
   border-radius: 5px;
}
.logos{
    margin-right: 15px;
}
main{
    
    margin: 100px;
    
}
main h2{
    text-align: center;
    font-weight: 700;
}
main span{
    display: flex;
    
    justify-content: end;
    
}
.page{
    font-weight: 800;
    text-decoration: none;
    color: #E02C6DDE;
}
.mid{
    color: #E02C6DDE;
    padding-left: 5px;

}


.blog{
    width: 329px;
    height: 490px;
    box-shadow: 0px 0px 40px rgba(0,0,0,15);
    border-radius: 5px;
    margin:  25px;
}
.blog img{
    width: 300px;
    height: 256px;border-radius: 5px;
    padding: 12px;
}
.bl{
    padding-left: 16px;
}

.ratings{
    display: flex;
    align-items: center;
    padding-left: 16px;
}
.caption{
    font-size: 14px;
    font-weight: 700;
}
.blogs{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 30px;
   

}